
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Space Mono', monospace;
    }
    body {
      background-color: #f4f7f5;
      color: #333;
      padding: 20px 0px;
    }
    .container {
      max-width: 1024px;
      margin: auto;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .hero {
      background-image: url('https://via.placeholder.com/1024x300');
      background-size: cover;
      color: white;
      padding: 40px 20px;
      position: relative;
      text-align: left;
      background-color:#2f2f2f;
    }
    .hero h1 {
      color: #facc15;
      font-size: 2rem;
    }
    .hero p {
      max-width: 600px;
      margin: 10px 0;
    }
    .buttons {
      margin-top: 15px;
    }
    .buttons a:hover{
  filter:grayscale(80%);

}
    .buttons a {
      display: inline-block;
      margin-right: 10px;
       margin-bottom:5px;
      padding: 8px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      letter-spacing:.07rem;
      font-size:.85em;
      text-transform:uppercase;
      text-decoration: none;
      color: white;
    }
    .fiverr { background-color: #1dbf73; }
    .whatsapp { background-color: #25d366; }
    .telegram { background-color: #0088cc; }
     .email { background-color:darkred;
    text-transform:lowercase;}

    .profile-img {
      position: absolute;
      right: 20px;
      top: 20px;
      border-radius: 50%;
      overflow: hidden;
      width: 120px;
      height: 120px;
    }
    .profile-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px 0;
    }
    .card {
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.5);
      width: 150px;
      text-align: center;
      padding: 20px;
      margin: 10px;
      width:23%;
    }
        .card:hover {
     
      box-shadow: 0 2px 5px rgba(0,0,0,0.8);

    }
    .card p{
      font-weight:bolder;
    }
    .card img {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
    }

    .footer {
      background-color: #1e1e1e;
      color: white;
      text-align: center;
      padding: 30px 20px;
    }
    .footer a {
      display: inline-block;
      background: transparent;
      border: 1px solid white;
      color: white;
      padding: 10px 15px;
      margin-top: 10px;
      text-decoration: none;
    }

@media only screen and (max-width: 600px) {
.profile-img {
    position: relative !important;
    top: 0;
    right: auto;
}

   .card {
    width: 45% !important;
}
}
